.home {
    background-color: antiquewhite;
    height: 100vh;
    width: 100%;
}

.center-modal {
    width:42%;
    height: 834px;
    margin:0 0px 0 12px;
    /* padding: 0 0 328px  */
}

.sub-div {
    width: 45%;
    background-color: white;
    padding: 0 0 328px;
  background-color: #fff;
    /* box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px; */
    height: 100vh;

}
.IMG_2521 {
    width: 45%;
    height: 37px;
    padding: 8px 296px 10px 35px;
  }
.Kings-Arms-Cardingto {
    width: 216px;
    height: 24px;
    margin: 70px 78px 0 81px;
    font-family: Gilroy !important;
    font-size: 20px;
    font-weight: 800;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #000;
  }

  .-High-Street-Kem {
    width: 254px;
    height: 39px;
    margin:4px 59.5px 19px 61.5px;
    font-family: Gilroy;
    font-size: 12px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #000;
  }

  /* .Rectangle {
    width: 123px;
    height: 47px;
    margin: 19px 8px 14px 7px;
    padding: 14px 38.5px 14px 39.5px;
    border-radius: 17px;
    border: solid 3px #ffd100;
    background-color: #ffd504;
    border-radius: 15px!important
  } */

  .drinks{
    border-radius: 17px!important;
    border: solid 3px #ffd100;
    padding: 8px 15px;
  }

  .test{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    
  }
  .test2{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .foods {
    border-radius: 17px!important;
    border: solid 3px #ffd100;
    padding: 8px 25px;
    /* background-color: #ffd504; */
  }

  .snacks{
        border-radius: 17px!important;
        border: solid 3px #ffd100; 
        padding: 8px 15px; 
  }

  .subcategorybutton{
    width: 349px;
  height: 21px;
  margin: 14px 0 6px 5px;
  font-family: Gilroy;
  font-size: 17px;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000;
  }
  .DRINKS {
    width: 56px;
    height: 19px;
    font-family: Gilroy;
    font-size: 16px;
    font-weight: 800;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #000;
  }

  .FOOD {
    width: 45px;
    height: 19px;
    font-family: Gilroy;
    font-size: 16px;
    font-weight: 800;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #000;
  }

  .SNACKS {
    width: 62px;
    height: 19px;
    font-family: Gilroy;
    font-size: 16px;
    font-weight: 800;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #000;
  }

  .Starter-soup-of-the {
    width: 184px;
    height: 21px;
    margin: 0 58.5px 34px 0;
    font-family: Gilroy;
    font-size: 17px;
    font-weight: 800;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #000;
  }

  .Chicken-Soup-with-mi {
    width: 224px;
    height: 39px;
    margin: 16px 18px 0 0.5px;
    font-family: Gilroy;
    font-size: 16px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.94;
    letter-spacing: normal;
    color: #000;
  }

  .price{
  margin-top: 50px;
  font-family: Gilroy;
  font-size: 22px;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000;
  }
.centershow {
    display: flex;
    align-items: center;
    justify-content: center;
    /* width: 550px;
    height: 72vh; */
}

.cat-heading{
  margin: 4px 3px 15px;
  font-family: Gilroy;
  font-size: 25px;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #000;
}

.catbutton {
    border-radius: 25%;
    padding: 10px;
}

.tabs {
    border: 2px solid red;
    justify-content: space-between;
}

.subitems {
    display: flex;
}

.active {
    text-decoration: underline;
    /* border: 2px solid red; */
}

.product_box {
    margin: 26px 21px 10px 23px;
    padding: 5px 15.5px auto 5px;
    border-radius: 14px;
    border: solid 3px #ffd100;
}

.canvas_box {
    border: 3px solid yellowgreen;
    height: 40px;
    border-radius: 20px;
}

.bottomCenter {
    width: 45%;
}

.fixed {
    position: fixed;
    bottom: 0px;
    left: 0px;
}

.checkout-comp {
    height: 73vh;
    overflow-y: scroll;

}

::-webkit-scrollbar {
    display: none;
}

.button {
    border: none;
  }
  .rounded-circle {
    border-radius: 15px!important;
    height:50px;
    border: 4px solid #F7DD25;
    padding:10px;
    /* margin-left:30px; */
    margin: 10px;
    width:10px
    /* margin-left: 0;
    margin-right:5px */
}

.buttton{
    border-radius: 10px;
}
.subcat-button{
    border: 1px solid #F7DD25;
    border-radius: 15px!important
}

.form-check-input:checked{
    background-color: #F7DD25 !important;
    color:black;
    border: 0;
 }

 .qty_button{
    background-color: #ffbb33;
    border:none;
    padding: 5px 20px;
    border-radius: 15px;
 }

 .p-text{
    margin-left: 45px;
    margin-right: 45px;
  
 }


.sectionTransperent{
  /* border: 1px solid red; */
  height: 30%;
  opacity: 0;
}

.popUpModal{
  /* height: 70%; */
  border: 1px solid red;
  
}